//============================
//    Name: Footer
//============================
myfooter {
	+__() {
		.section--background {
			background-color #0000
		}
		.box {
			display: grid;
			grid-auto-flow: column;
			grid-auto-columns: auto;
			max-width: 1200px;
			margin: auto;
			justify-content: space-between;
			align-items: baseline;
			padding 1rem
			gap: 1rem;
		}
		.item {
			display: grid;
			grid-auto-flow: column
			justify-content: space-between;
		}
		.address, .info {
			&-item {
				color: rgba(#000, 0.40);
				transition .25s __cubic
				&:hover {
					color: rgba(#000, 1);
				}
			}
		}
		.address {
			grid-auto-flow: row
			gap: .3rem 0 ;
		}
		.info {
			gap: 24px;
		}
		.title {
			color: #fff;
		}
		.text {
			color: #fff;
		}
	}
}
 