//============================
//    Name: Header
//============================

myheader {
	+__() {
		.box {
			display: grid;
			grid-auto-flow: column;
			grid-auto-columns: 1fr 1fr 2fr auto;
			max-width: 1200px;
			margin: auto;
			justify-content: center;
			align-items: center;
			padding 1rem
			gap: 1rem;
		}
		.section--background {
			background-color #272831;
		}
		.item {
			display: grid;
			grid-auto-flow: column;
			justify-content: center;
			align-items: center;
		}
		.href {
			&--gradient {
				// colorA = #5aa4ff;
				// colorB = #ff7f7c;
				// color: linear-gradient(to right, colorA, colorB);
			}
		}
		.logo {
			justify-content: start;
			align-items: center;
		}
		.gradient {
			width 238px
			height 1.29rem
			max-width: 100%;
			font-setup(fmain, 15px, 500);
			
			&--hidden {
				visibility hidden
				width 0
				height 0
				font-size 0
				line-height 0
			}
		}
		
		.list, .sign {
			display: grid;
			gap: 4rem;
			&-item {
				color: rgba(#fff, 0.40);
				font-setup(fmain, 15px, 500);
				&:hover {
					color: rgba(#fff, 1);
				}
			}
		}
		.sign {
			gap: 24px
		}
		.burger {
			justify-content: center;
			align-items: center;
		}
		.menu {
			display: grid;
			gap: 0.4rem;
			margin-left: -1rem;
			margin-right: 1rem;
			transition .25s __cubic
			cursor pointer
		}
		.menu-line {
			background-color #f1f1f1;
			color: #f1f1f1;
			height 4px
			width 33px
			transition .25s __cubic
		}
		.title {
			color: #f1f1f1;
		}
		.text {
			color: #f1f1f1;
		}
	}
}



mixHoverHumburger() {
	__deg = 44
	__width = 55%
	__trfX = -5px
	__trfY = 2px
	
	.myheader__menu-line:nth-child(1) {
		transform: rotate(- __deg deg) translate(__trfX, __trfY);
		width __width
	}
	.myheader__menu-line:nth-child(2) {
		transform: rotate(0deg);
	}
	.myheader__menu-line:nth-child(3) {
		transform: rotate( __deg deg) translate(__trfX, - __trfY);
		width __width
	}
}

.myheader__menu:hover {
	animation anima-rotate .45s forwards
	mixHoverHumburger();
	
}

+key(anima-rotate) {
	0% {
		transform: scale(1) rotate(0deg);
	}
	50% {
		transform: scale(.58) rotate(-180deg);
	}
	100% {
		transform: scale(1) rotate(-360deg);
	}
}