//============================
//    Name: Main page
//============================

footer-in-bottom();

myform {
	+__() {
		.section--background {
			background-color #f5f5f5;
		}
		.section {
			overflow visible
		}
	}
}

searchpanel {
	+__() {
		.box {
			display: grid;
			grid-auto-flow: column;
			grid-auto-columns: 1fr 220px 220px 220px
			max-width: 1200px;
			margin-left: auto;
			margin-right: auto;
			padding 1rem
			gap: 1rem;
			margin-bottom 20px
		}
		.item {
			x-color = #000;
			radius: 6px;
			background-color #ffffff;
			padding .9rem 24px
			font-setup(fmain, 15px, 400)
			text-decoration: none;
			color: x-color;
			border 1px solid #0000;
			transition .25s __cubic
			&:focus {
				x-color = #4e82fe;
				color: x-color
				border 1px solid rgba(x-color, 0.16);
				box-shadow: 0 3px 6px rgba(x-color, 0.10), 0 3px 6px rgba(x-color, 0.16);
			}
			&:hover {
				border 1px solid rgba(#4e82fe, 0.33);
			}
		}
	}
}

searchfilter {
	+__() {
		.box {
			display: grid;
			grid-auto-flow: column;
			grid-auto-columns: auto 1fr
			max-width: 1200px;
			margin-left: auto;
			margin-right: auto;
			padding 1rem
			gap: 2rem;
		}
		.title {
			font-setup(fmain, 15px, 500);
		}
		.label {
			color: #4e82fe;
			padding 10px 1rem
			radius: 3 * 14.5px;
			cursor pointer
			user-select: none;
			font-setup(fmain, 15px, 500);
			transition .25s __cubic
			&:hover {
				background-color: rgba(#4e82fe, 0.22);
			}
			&:active {
				background-color: rgba(#4e82fe, 0.32);
			}
		}
		.item {
			visibility hidden
			width 0
			height 0
			font-size 0
		}
	}
}

searchparam {
	+__() {
		.box {
			display: grid;
			grid-auto-flow: column;
			grid-auto-columns: 1fr;
			max-width: 1200px;
			margin-left: auto;
			margin-right: auto;
			padding 1rem
			gap: 8px;
		}
		.label {
			font-setup(fmain, 13px, 500);
			color: rgba(#000, 0.40);
			text-transform: capitalize;
			grid-row: -1;
			transition .25s __cubic
			user-select none
		}
		.item {
			x-color = #000;
			font-setup(fmain, 15px, 400)
			width: 159px;
			radius: 6px;
			background-color #ffffff;
			padding 14px 28px 14px 15px
			text-decoration: none;
			color: x-color;
			border 1px solid rgba(x-color, 0.05);
			box-shadow: 0 1px 1px rgba(x-color, 0.05), 0 1px 3px rgba(x-color, 0.08);
			transition .25s __cubic
			cursor pointer
			&:focus {
				x-color = #4e82fe;
				color: x-color
				border 1px solid rgba(x-color, 0.16);
				box-shadow: 0 3px 6px rgba(x-color, 0.10), 0 3px 6px rgba(x-color, 0.16);
			}
			&:hover {
				border 1px solid rgba(#4e82fe, 0.33);
			}
		}
		.group {
			display: grid;
			gap: 4px;
			position relative
		}
		.sort {
			position: absolute;
			right: 1rem;
			top: 50%;
			width: 10px;
			height: 10px;
			fill: rgba(#000, 0.40);
			transition .25s __cubic
			pointer-events: none;
		}
		.select {
			transform scale(0);
			position: absolute;
			top: 4.7rem;
			text-decoration: none;
			list-style: none;
			padding: 0.5rem 0;
			margin: 0;
			z-index 123;
			transition .25s __cubic
			li {
				min-height 33px		
				padding 0.5rem 1rem
				font-setup(fmain, 15px, 400)
				transition .25s __cubic
				cursor pointer
				user-select none;
				&:hover {
					color: #4e82fe
					background-color #ecf1fe;
				}
			}
		}
	}
}

searchsubmit {
	+__() {
		.box {
			display: grid;
			grid-auto-flow: column;
			grid-auto-columns: auto;
			max-width: 1200px;
			margin-left: auto;
			margin-right: auto;
			padding 0 1rem 1rem
			justify-content: start;
			align-items: center;
			gap: .1rem;
		}
		.item {
			border 1px solid #0000;
			background-color #4e82fe;
			radius: 2rem;
			color: #fff;
			padding 14px 31px
			font-setup(fmain, 15px, 500)
			transition .25s __cubic
			text-decoration none
			cursor pointer
			&:hover {
				background-color darken(#4e82fe, 23%)
			}
			&:active {
				background-color darken(#4e82fe, 33%)
			}
			&--clear {
				background-color #0000;
				color: #ff7f7c;
				&:hover {
					background-color #ff7f7c;
					color: #fff;
				}
				&:active {
					background-color darken(#ff7f7c, 23%)
				}
			}
		}
	}
}

formresult {
	+__() {
		.box {
			display: grid;
			grid-auto-flow: row;
			grid-auto-columns: auto;
			max-width: 1200px;
			margin-left: auto;
			margin-right: auto;
			padding 1rem
			justify-content: center;
			align-items: center;
			gap: 2rem;
		}
		.item {
			width 500px
			font-size 26px
			color: #6596ff;
			text-align center
			font-setup(fprimal, 26px, 400)
			line-height 1.4
		}
	}
}

.searchparam__select.open {
	animation dropdown-select .35s forwards
}

input.searchparam__item {
	&:hover + label + .searchparam__sort {
		fill: rgba(#000, 0.69);
	}
	&:focus + label + .searchparam__sort {
		fill: rgba(#4e82fe, 1);
	}
	&:hover + .searchparam__label {
		color: rgba(#000, 0.69);
	}
	&:focus + .searchparam__label {
		color: rgba(#4e82fe, 1);
	}
	&:focus ~ .searchparam__select {
		animation dropdown-select .35s forwards
	}
}

input[type="search"] {
	&::-webkit-search-cancel-button {
		-webkit-appearance: none;
		height: 1rem;
		width: 1rem;
		radius: 100%;
		transition .25s __cubic
		background-color: rgba(#4e82fe, 0.50);;
	}
	&::placeholder {
		color: rgba(#000, 0.40);
	}
}

input[type="radio"]:checked + label {
	background-color: rgba(#4e82fe, 0.10);
}

+key(dropdown-select) {
	0% {
		transform translate(0, -7rem) scale(0) 
	}
	45% {
		transform translate(0, -0.5rem) scale(1) 
	}
	55% {
		transform translate(0, 0.5rem) scale(1)
	}
	100% {
		transform translate(0, 0rem) scale(1) 
	}
}