<div role="contentinfo" class="myfooter__section myfooter__section--background">
	<address class="myfooter__box">
		<div class="myfooter__item myfooter__address">
			<div class="myfooter__address-item">Ask us 44-20-3239-3063 (UK); 1-415-799-8701 (US)</div>
			<div class="myfooter__address-item">© 2018 IndexBox, Inc.</div>
		</div>
		<div class="myfooter__item myfooter__info">
			<a class="myfooter__info-item" title="URL" role="link" href="#">FAQ</a>
			<a class="myfooter__info-item" title="URL" role="link" href="#">Privacy Policy</a>
			<a class="myfooter__info-item" title="URL" role="link" href="#">Cookie</a>
			<a class="myfooter__info-item" title="URL" role="link" href="#">Terms Of Sevice</a>
			<a class="myfooter__info-item" title="URL" role="link" href="#">Pricing Plan</a>
			<a class="myfooter__info-item" title="URL" role="link" href="#">Metadata and Definitions</a>
		</div>
	</address>
</div> 
