<div role="navigation" class="myheader__section myheader__section--background">
	<nav class="myheader__box">
		<div class="myheader__item myheader__burger DEL">
			<div class="myheader__menu js__navHamburger">
				<span class="myheader__menu-line">&nbsp;</span>
				<span class="myheader__menu-line">&nbsp;</span>
				<span class="myheader__menu-line">&nbsp;</span>
			</div>
		</div>
		<div class="myheader__item myheader__logo">
			<picture><img alt="Picture" title="Picture" src="./media/img/main-assets/logo.png"></picture>
		</div>
		<div class="myheader__item">
			<a class="myheader__href myheader__gradient" title="URL" role="link" href="#">
				<svg class="myheader__gradient" fill="url(#myheader-gradient)">
					<text y="1rem">Get more out of IndexBox — Go Pro</text>
				</svg>
				<svg class="myheader__gradient--hidden">
					<defs>
						<linearGradient id="myheader-gradient">
							<stop stop-color="#5aa4ff" offset="0%"/>
							<stop stop-color="#ff7f7c" offset="100%"/>
						</linearGradient>
					</defs>
				</svg>
			</a>
		</div>
		<div class="myheader__item myheader__list">
			<a class="myheader__list-item" title="URL" role="link" href="#">Dowload Data</a>
			<a class="myheader__list-item" title="URL" role="link" href="#">Analyze data</a>
			<a class="myheader__list-item" title="URL" role="link" href="#">Report writing</a>
		</div>
		<div class="myheader__item myheader__sign">
			<a class="myheader__sign-item" title="URL" role="link" href="#">Sign up</a>
			<a class="myheader__sign-item" title="URL" role="link" href="#">Sign in</a>
		</div>
	</nav>
</div>
