<section class="myform__section">
	<form id="searchform" class="searchform__box" action="#" method="POST" enctype="ultipart/form-data" autocomplete="off" onsubmit="return false;">
		<div class="myform__section--background">
			<div class="searchpanel searchpanel__box js__formSearchPanel">
				<input class="searchpanel__item" type="search" name="product" placeholder="Product">
				<input class="searchpanel__item" type="search" name="country-1" placeholder="Country">
				<input class="searchpanel__item" type="search" name="country-2" placeholder="Country">
				<input class="searchpanel__item" type="search" name="period" placeholder="Period">
			</div>
		</div>
		<div class="searchfilter searchfilter__box js__generatorFilter">
			<div class="searchfilter__title">Output formating options show by: </div>
			<div class="searchfilter__group">
				<input id="searchfilter-1" class="searchfilter__item" type="radio" name="filter" checked="true">
				<label for="searchfilter-1" class="searchfilter__label">Factor</label>

				<input id="searchfilter-2" class="searchfilter__item" type="radio" name="filter">
				<label for="searchfilter-2" class="searchfilter__label">Country/Region</label>

				<input id="searchfilter-3" class="searchfilter__item" type="radio" name="filter">
				<label for="searchfilter-3" class="searchfilter__label">Code</label>
			</div>
		</div>
		<div class="searchparam searchparam__box js__generatorSelect">
			<div class="searchparam__group">
				<input id="searchparam-1" class="searchparam__item" type="button">
				<label for="searchparam-1" class="searchparam__label">name</label>
				<span class="searchparam__sort"><svg role="picture-svg" class="glyphs__sort-arrow"><use xlink:href="#id-glyphs-sort-arrow"></use></svg></span>
			</div>
			<div class="searchparam__group">
				<input id="searchparam-2" class="searchparam__item" type="button">
				<label for="searchparam-2" class="searchparam__label">name</label>
				<span class="searchparam__sort"><svg role="picture-svg" class="glyphs__sort-arrow"><use xlink:href="#id-glyphs-sort-arrow"></use></svg></span>
			</div>
			<div class="searchparam__group">
				<input id="searchparam-3" class="searchparam__item" type="button">
				<label for="searchparam-3" class="searchparam__label">name</label>
				<span class="searchparam__sort"><svg role="picture-svg" class="glyphs__sort-arrow"><use xlink:href="#id-glyphs-sort-arrow"></use></svg></span>
			</div>
			<div class="searchparam__group">
				<input id="searchparam-4" class="searchparam__item" type="button">
				<label for="searchparam-4" class="searchparam__label">name</label>
				<span class="searchparam__sort"><svg role="picture-svg" class="glyphs__sort-arrow"><use xlink:href="#id-glyphs-sort-arrow"></use></svg></span>
			</div>
			<div class="searchparam__group">
				<input id="searchparam-5" class="searchparam__item" type="button">
				<label for="searchparam-5" class="searchparam__label">name</label>
				<span class="searchparam__sort"><svg role="picture-svg" class="glyphs__sort-arrow"><use xlink:href="#id-glyphs-sort-arrow"></use></svg></span>
			</div>
			<div class="searchparam__group">
				<input id="searchparam-6" class="searchparam__item" type="button">
				<label for="searchparam-6" class="searchparam__label">name</label>
				<span class="searchparam__sort"><svg role="picture-svg" class="glyphs__sort-arrow"><use xlink:href="#id-glyphs-sort-arrow"></use></svg></span>
			</div>
			<div class="searchparam__group">
				<input id="searchparam-7" class="searchparam__item" type="button">
				<label for="searchparam-7" class="searchparam__label">name</label>
				<span class="searchparam__sort"><svg role="picture-svg" class="glyphs__sort-arrow"><use xlink:href="#id-glyphs-sort-arrow"></use></svg></span>
			</div>
		</div>

		<div class="searchsubmit searchsubmit__box">
			<button form="searchform" name="button" class="searchsubmit__item searchsubmit__item--submit">Find data</button>
			<button form="searchform" name="button" class="searchsubmit__item searchsubmit__item--clear js__superClean">Clear</button>
		</div>
	</form>


</section>
<section class="formresult__section">
	<div class="formresult formresult__box">
		<div class="formresult__item">Cats didn't find anything in the box yet,
		so have a nice analyze meow :)</div>
		<picture><img alt="Picture" title="Picture" src="./media/img/main-assets/backCats.png"></picture>
	</div>
</section>

<div class="__device__">&nbsp;</div>
